.popup-card {
   border-radius: 30px 30px 0px 0px;
   border: 1px solid red;
   border-left: 0;
   border-right: 0;
   border-bottom: 0;
 }
 
 .popup-img {
   border-radius: 30px 30px 0px 0px;
   border: 1px solid red;
 }
 
 .close-button {
   --background: transparent;
   --color: black;
 }
 
 .bonus-button {
   --background: black;
   --color: white;
   border-radius: 20px;
 }
 
 .price-section {
   padding: 10px;
 }
 
 .price-details {
   padding-left: 8px;
 }
 
 .offer-section {
   border: 1px solid #b4a790;
   border-radius: 10px;
   padding: 5px;
 }
 
 .offer-icon {
   width: 40px;
   height: 40px;
 }
 
 .percentage {
   position: absolute;
   margin-top: -30px;
   margin-left: 10px;
   color: white;
   font-size: 18px;
 }
 
 .add-button {
   --background: black;
   --color: white;
   border-radius: 8px;
   padding: 15px;
   width: 100%;
 }
 